Source: auto-mx
Section: contrib/utils
Priority: optional
Maintainer: Adnan Hodzic <ahodzic.hodzic@mendix.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://mendix.com
# Vcs-Git: git://git.debian.org/collab-maint/auto-mx.git
# Vcs-Browser: http://git.debian.org/?p=collab-maint/auto-mx.git;a=summary

Package: auto-mx
Architecture: all
Depends: m2ee-tools, postgresql, oracle-java7-jre | openjdk-6-jre | openjdk-7-jre, ${shlibs:Depends}, ${misc:Depends}
Description: Mendix Auto Utility (auto-mx) 
  Utility which aims to automatically install and
  setup Mendix runtime, and rest of utility's
  which are needed to run Mendix applications.
